.navbar {
    position: absolute;
    opacity: 0;
    display: flex;
    top: 65px;
    left: 4rem;

    padding: 0;
    padding-bottom: 1rem;
    justify-content: center;
    transition: opacity 0.2s, ;

    input[type=text] {
        padding: 6px;
        border: solid 1px $clr5;
        color: $clr5;
        border-radius: 10px;
        max-width: 165px;
    }
}

.navbar.active {
    opacity: 1;
    transition: opacity 0.9s ease-in,;
}