.sidenav {
}

//tablets
@media only screen and (min-width: 640px) {
    .sidenav {
        background-color: red;
        border-right: 1px solid grey;
    }
}

//desktop
@media only screen and (min-width: 768px) {
    .sidenav {
        background-color: blue;
    }
}

